<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
     <a href="/">
    <%= image_tag "logo.png", size: 55, class: "navbar-brand" %>
    <%= link_to "ericabnb", root_path, class: "navbar-brand" %>
     </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">   
      	<li>
          <a href="/hosts"><i class="material-icons" style="font-size:30px;color:#d9d9d9;text-shadow:2px 2px 4px;">home</i> Host</a>
        </li>
        <li>
          <a href="#"><i class="material-icons" style="font-size:30px;color:#d9d9d9;text-shadow:2px 2px 4px;">textsms</i> Message</a>
        </li>
        <li>
          <a href="#"><i class="material-icons" style="font-size:30px;color:#d9d9d9;text-shadow:2px 2px 4px;">language</i> Help</a>
        </li>
         <li>
          <a href="/team"><i class="material-icons" style="font-size:30px;color:#737373;text-shadow:2px 2px 4px;">account_circle</i> Patrick</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

