<%=image_tag "background.png", id: "wood2", height: 550, width: 1475 %>
<div class="container">
  <div class="home">
    <div class="row">
      <h2>Eliminating Bias</h2>
    </div>
  </div>

  <div class="home">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/1000/500?image=76')"></span>
          <span class="card-gradient"></span>
          <div class="card-link"></div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <h3>This is just a test </h3>
        <p>Eric, Caicci, Patrick, and Alek decided to tackle an issue plaguing Airbnb and its users! </p>
      </div>
    </div>
  </div>
</div>

<div class="background">
  <div class="container">
    <div class="home">
      <div class="row">
        <h2>How You're views</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=112')"></span>
          <span class="card-text">
            <h2>For the rich</h2>
            <p>If your name and or picture match</p>
          </span>
          <span class="card-gradient"></span>
          <div class="card-link"></div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=324')"></span>
          <span class="card-text">
            <h2>For the middle class</h2>
            <p>Your name or picture may matter</p>
          </span>
      
          <div class="card-link"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=456')"></span>
          <span class="card-text">
            <h2>For the poor</h2>
            <p>Who cares what you look like</p>
          </span>
          <span class="card-gradient"></span>
          <div class="card-link"></div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=987')"></span>
          <span class="card-text">
            <h2>Lets meet in the middle</h2>
            <p>This stuff should not matter</p>
          </span>
          <span class="card-gradient"></span>
          <div class="card-link"></div>
        </div>
      </div>
    </div>
  </div>
