<%=image_tag "belong.jpg", id: "airbnb", class: "airbnb" %>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="background">
    <div class="home">
      </div>
<div class="banner text-center">
  <div class="banner-content"><br><br>
   <%= link_to "Travelers click here", travelers_path, class:"btn btn-primary" %>
    <h2>Eliminating Bias</h2>
        <p><i>Eric, Caicci, Patrick, and Alek decided to tackle an issue plaguing Airbnb and its users!  Travlers click on the button above this text, and Hosts click on the host icon within the navigation bar</i> </p>
  </div>
</div>

    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=903')"></span>
          <span class="card-text">
            <h2>WE ALL LIVE HERE</h2>
            <p>All Earthlings are welcome</p>
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=899')"></span>
          <span class="card-text">
            <h2>NEW YORK </h2>
            <p>Your name or picture SHOULD NOT matter</p>
          </span>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=693')"></span>
          <span class="card-text">
            <h2>SAN FRANSISCO</h2>
            <p>Your gender or sexuality SHOULD NOT matter</p>
          </span>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/600/300?image=763')"></span>
          <span class="card-text">
            <h2>LONDON</h2>
            <p>NONE of these things should matter</p>
          </span>
        </div>
      </div>
    </div>

     <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="card">
          <span class="card-bg" style="background-image:url('https://unsplash.it/700/200?image=207')"></span>
          <span class="story-text">
           <h2>Our Story</h2>
            <p><i>As recent graduates of Dev Bootcamp we were tasked with altering the recommendation algorithm provided by Airbnb.  During this mini Hackathon, Eric, Caicci, Patrick, and Alek  were faced with many hurdles tackling this challenge.  As a solution, we decided to implement IBM's Watson API along with a mini survey.  Our goal is to match hosts and traveler (vice versa) based on common interest.  We ask 2 very broad and generic questions to make our recommendations.  The purpose of this project is to hopefully to eliminate all bias within the Airbnb platform.  This is just the beginning </i></p>
          </span>
        </div>
      </div>
  </div>
</div>

