<h1><%=@traveler.username%> Pending Requests</h1>

<%@traveler.recommendations.each do |t|%>
Host:<%=t.host%><br>
Address: <%=t.address%><br>
City, State: <%=t.city%><br>
<%end%>


<!-- if host and traveler are compatible, yellow - if similar travelers left positive comments, orange - if  both are compatible and similar users left positive comments, red -->
